:root{
    --orange: #cE5A00;
    --pink: #FDD9D5;
    --lt-blue:#BED2D5;
    --teal:#00495F;
    --yellow:#E8C521;





}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}







nav{
    padding:10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}
.nav-links a{
    text-decoration: none;
    color:var(--teal);
    font-size: 1.5rem;
    padding: 10px;

}
.nav-links a:hover{
    text-decoration: underline;
    text-decoration-color: #cE5A00;
    transition: all 0.3s ease;
}
 .btn{
    background-color: var(--orange);
    padding:15px;
    
    font-size: 1rem;
    border-radius: 20px;
    border: transparent;
    width: 150px;
    color: white;
}
.logo img{
    width: 75px;
    height:75px
}


.hero-img{
width: 600px;
    
}

.hero-img img{
   width: 100%;
   box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.395);
    
    border-radius: 20px;
}

.hero-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    
}
.hero-text{
    width: 40%;
    color: var(--teal);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-text h1{
    font-size: 3rem;
}